In [122]:
!git add "Correction_exercices_python.ipynb"
!git commit -m "correction des exos"
!git push origin master

[master 5c63fbe] correction des exos
 1 file changed, 824 insertions(+)
 create mode 100644 Correction_exercices_python.ipynb
Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 4.44 KiB | 4.44 MiB/s, done.
Total 3 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/Luc-Bertin/TDs_ESILV.git
   4799578..5c63fbe  master -> master

# Ex. 1: from a list of lists to a dictionnary

In [1]:
liste = [[1, 2], [3,4], [5,6], [7,8]]

* dict comprehension

In [9]:
{ item1:item2  for item1, item2 in liste }

{1: 2, 3: 4, 5: 6, 7: 8}

In [8]:
{x[0]:x[1] for x in liste}

{1: 2, 3: 4, 5: 6, 7: 8}

* loop

In [10]:
dico = {}
for item1, item2 in liste:
    dico[item1] = item2
dico

{1: 2, 3: 4, 5: 6, 7: 8}

*  dict constructor

In [11]:
{} == dict()

True

In [12]:
dict(liste)

{1: 2, 3: 4, 5: 6, 7: 8}

# Ex. 2: Counting character frequencies in a text

In [14]:
text = """Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis neque turpis, in gravida erat tincidunt a. Maecenas lobortis rutrum arcu, in posuere dolor fermentum sed. Duis imperdiet laoreet nibh, a pretium lectus condimentum eget. Maecenas eu elit vitae nibh euismod lacinia et a tortor. Donec at egestas leo, eget molestie quam. Sed elementum scelerisque sapien, quis suscipit ex malesuada vel. Aenean non mollis erat, in tincidunt massa.

Mauris semper, purus in dictum imperdiet, libero nunc bibendum ex, eget facilisis turpis lorem ac lorem. Sed bibendum scelerisque tortor vel dictum. Aliquam dignissim eget erat non mollis. Maecenas vehicula feugiat tortor, in vulputate ex molestie nec. Ut suscipit iaculis nulla, auctor elementum urna dapibus non. Fusce facilisis mollis tellus sit amet venenatis. Praesent metus enim, tincidunt posuere tellus et, placerat tincidunt justo.

Nunc id gravida ipsum, id porttitor magna. Maecenas porttitor accumsan odio non mattis. Suspendisse ultrices eleifend tristique. Vivamus accumsan libero tortor, eu aliquam sapien iaculis sed. In congue quis mi sed condimentum. Ut est libero, condimentum sit amet sagittis eu, tincidunt sed risus. Suspendisse pharetra molestie rutrum. Cras bibendum, dui ac consectetur eleifend, leo leo laoreet nibh, eget tristique lorem enim a nisi.

Duis a purus eu augue consectetur malesuada id nec ex. Pellentesque sed odio laoreet, imperdiet dui ut, sodales odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec interdum, tortor eu dapibus pharetra, libero nisi faucibus nisl, id malesuada felis diam id urna. Praesent est metus, gravida eu luctus vitae, egestas vel metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras suscipit malesuada dui, vitae faucibus libero mollis a. In posuere blandit augue, sed semper ante imperdiet sed. Cras egestas posuere augue at semper. Praesent fermentum nunc risus, vitae aliquet augue consectetur a. Fusce interdum orci nunc, non posuere ex venenatis id. Nam faucibus fringilla mollis. Nulla ac enim accumsan, accumsan risus sit amet, rutrum tellus. Praesent lacinia augue at pulvinar venenatis. Etiam nunc augue, suscipit a faucibus sed, sodales ut mauris.

Quisque quis magna malesuada, ultricies leo eget, elementum est. Praesent enim purus, pretium a nisl quis, accumsan blandit sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ultricies iaculis nunc, quis fringilla arcu bibendum ac. Integer eu sem eget dui tempor sagittis. Ut sit amet ipsum quis nisi porttitor pulvinar. Etiam suscipit, leo nec fringilla luctus, lacus est egestas augue, eget vestibulum augue diam non eros. Duis posuere ac magna eget ullamcorper.
"""

In [21]:
dico1 = {}
for char in text:
    if char in dico1:
        dico1[char] += 1
    else:
        dico1[char] = 1
#dico1

En un peu mieux...

In [23]:
dico1 = {}
for char in text:
    dico1[char] = dico1.get(char, 0) + 1
#dico1

* `defaultdict`

In [24]:
from collections import defaultdict

In [28]:
3 == int(3)

True

In [29]:
[] == list()

True

In [30]:
{} == dict()

True

In [31]:
int()

0

In [33]:
dico1 = defaultdict(int)
for char in text:
    dico1[char] += 1 # si char pas présent
    # int() est appelé sans arguments => 0
#dico1

In [63]:
# avec notre propre factory fonction
#dico_test = defaultdict(lambda : 1)
#for char in "abdd":
#    dico_test[char] += 1
#dico_test

defaultdict(<function __main__.<lambda>()>, {'a': 2, 'b': 2, 'd': 3})

### mieux: lister les index d'occurences des characters

In [42]:
for index, char in enumerate("aabcd"):
    print( char)

a
a
b
c
d

In [44]:
dico2 = defaultdict(list)
for index, char in enumerate(text):
    dico2[char].append(index)
#dico2

### rappel: zip

In [46]:
liste1 = [1,2,3,4]
liste2 = ["Jeanne", "Marie","Luc", "René", "Sébastien"]

In [47]:
for a, b in zip(liste1, liste2):
    print( a )
    print( b )
    print(" ___ ")

1
Jeanne
 ___
2
Marie
 ___
3
Luc
 ___
4
René
 ___

In [48]:
dict(zip(liste1, liste2))

{1: 'Jeanne', 2: 'Marie', 3: 'Luc', 4: 'René'}

* `Counter`

In [50]:
from collections import Counter

In [52]:
Counter(text)

Counter({'L': 1,
         'o': 108,
         'r': 128,
         'e': 285,
         'm': 99,
         ' ': 410,
         'i': 229,
         'p': 59,
         's': 203,
         'u': 190,
         'd': 71,
         'l': 106,
         't': 196,
         'a': 192,
         ',': 47,
         'c': 96,
         'n': 147,
         'g': 38,
         '.': 46,
         'V': 2,
         'b': 30,
         'q': 23,
         'v': 19,
         'M': 6,
         'f': 15,
         'D': 5,
         'h': 9,
         'S': 4,
         'x': 5,
         'A': 2,
         '\n': 9,
         'U': 3,
         'F': 2,
         'P': 6,
         'j': 1,
         'N': 3,
         'I': 3,
         'C': 6,
         'E': 2,
         'Q': 1})

### splitter en mots

In [76]:
import re # avec regular expression pour ôter les caractères de ponctuations
text_transformed = re.sub(r"[^a-zA-Z0-9]", " ", text)
# ou sans regular expression
#text.replace(".", "").replace(",", "").split(" ")

## puis 

# Counter( text_transformed.split() )

# Ex. 3: decoding mARN using dict and list comprehensions !

> python docs: a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective.

In [85]:
"ACG"

'ACG'

In [84]:
("ATG")

'ATG'

In [86]:
("ATG", )

('ATG',)

In [77]:
amino_acids_from_triplets = {
 "Ala":   ("GCT", "GCC", "GCA", "GCG"),
 "Arg":    ("CGT", "CGC", "CGA", "CGG", "AGA", "AGG"),
 "Asn":    ("AAT", "AAC"),
 "Asp":    ("GAT", "GAC"),
 "Cys":    ("TGT", "TGC"),
 "Gln":    ("CAA", "CAG"),
 "Glu":    ("GAA", "GAG"),
 "Gly":    ("GGT", "GGC", "GGA", "GGG"),
 "His":    ("CAT", "CAC"),
 "Ile":    ("ATT", "ATC", "ATA"),
 "Leu":    ("CTT", "CTC", "CTA", "CTG", "TTA", "TTG"),
 "Lys":    ("AAA", "AAG"),
 "Met":    ("ATG"),
 "Phe":    ("TTT", "TTC"),
 "Pro":    ("CCT", "CCC", "CCA", "CCG"),
 "Ser":    ("TCT", "TCC", "TCA", "TCG", "AGT", "AGC"),
 "Thr":    ("ACT", "ACC", "ACA", "ACG"),
 "Trp":    ("TGG"),
 "Tyr":    ("TAT", "TAC"),
 "Val":    ("GTT", "GTC", "GTA", "GTG"),
 "STOP":   ("TAA", "TGA", "TAG") 
}

In [98]:
all_triplets_to_amino_acids = { v:k for k,v in amino_acids_from_triplets.items() }

In [102]:
dico = {}
for key,val in all_triplets_to_amino_acids.items():
    if type(key) is tuple:
        for k in key:
            dico[k] = val
    else:
        dico[key] = val
#dico

In [103]:
triplets_to_amino_acids={ki:v for k,v in all_triplets_to_amino_acids.items() 
                         for ki in (k if type(k) is tuple else (k,))}

In [108]:
[ x**2 if x>2 else x/3 for x in [1,2,3]] # le if à la fin = filtration

[0.3333333333333333, 0.6666666666666666, 9]

In [110]:
translator = { k if type(key) is tuple else key :val 
     for key,val in all_triplets_to_amino_acids.items() 
         for k in key  }

3.

In [111]:
arn = 'GCCGAGTAACTAGCCAGCTATGACACGATCCCGGCTAGGAAAGTGAACCCGCGGAAGTATATTGGTACCTCACGGTAGGAGACGGCGGGATAATTCTTGTCGCTGTGTGTGCCATCGTACACGAGACGGGTCCACTGAGTAAAGCGAGTATCACACAGACGAAGGTGACCTCCCCTTGTAGTCAGTAATCTTTCCTGAATCTAATTACTGTCATCGATTGCAAAACTTTGCAAAAAAACATTTGTAGACAACCGCTTACGTGGCGCTTCCTGCATTAAACGATTCCGGTGCACGGAACAA'

In [113]:
triplets = [ arn[i:i+3] for i in range(0, len(arn), 3)  ]

4.

In [116]:
translator["GCT"]

'Ala'

In [118]:
"-".join([ translator[triplet] for triplet in triplets ])

'Ala-Glu-STOP-Leu-Ala-Ser-Tyr-Asp-Thr-Ile-Pro-Ala-Arg-Lys-Val-Asn-Pro-Arg-Lys-Tyr-Ile-Gly-Thr-Ser-Arg-STOP-Glu-Thr-Ala-Gly-STOP-Phe-Leu-Ser-Leu-Cys-Val-Pro-Ser-Tyr-Thr-Arg-Arg-Val-His-STOP-Val-Lys-Arg-Val-Ser-His-Arg-Arg-Arg-STOP-Pro-Pro-Leu-Val-Val-Ser-Asn-Leu-Ser-STOP-Ile-STOP-Leu-Leu-Ser-Ser-Ile-Ala-Lys-Leu-Cys-Lys-Lys-Thr-Phe-Val-Asp-Asn-Arg-Leu-Arg-Gly-Ala-Ser-Cys-Ile-Lys-Arg-Phe-Arg-Cys-Thr-Glu-Gln'

# Ex. 4: functions

1.

In [128]:
def hello():
    """ N'a pas de param et ne retourne rien, juste print hello """
    print( "Hello" )

In [129]:
hello()

Hello

2.

In [132]:
def hello2(name):
    print( "Hello {}".format(name) )

In [133]:
hello2("Luc")

Hello Luc

In [135]:
hello2()

TypeError: hello2() missing 1 required positional argument: 'name'

3.

In [136]:
def hello3(name="Marie"):
    print( "Hello {}".format(name) )

In [137]:
hello3("Luc")

Hello Luc

In [138]:
hello3()

Hello Marie

4.

In [140]:
def hello4(name, age):
    name = name.upper()
    print( "Hello {}, you are {} years old".format(name, age) )

### positional arguments passed-in function call

In [141]:
hello4("Luc", 25)

Hello LUC, you are 25 years old

In [142]:
hello4(25, "Luc")

AttributeError: 'int' object has no attribute 'upper'

### keywords arguments passed-in function call

In [143]:
hello4(name="Luc", age=25)

Hello LUC, you are 25 years old

In [144]:
hello4(age=25, name="Luc")

Hello LUC, you are 25 years old

6.

In [146]:
inputs = {'Luc': 25, 
          'Corentin': 18, 
          'Thomas': 29, 
          'Julie': 22, 
          'Juliette': 21}

In [148]:
for name, age in inputs.items():
    hello4(name, age)

Hello LUC, you are 25 years old
Hello CORENTIN, you are 18 years old
Hello THOMAS, you are 29 years old
Hello JULIE, you are 22 years old
Hello JULIETTE, you are 21 years old

In [149]:
for name, age in inputs.items():
    hello4(age, name)

AttributeError: 'int' object has no attribute 'upper'

In [150]:
for name, age in inputs.items():
    hello4(age=age, name=name)

Hello LUC, you are 25 years old
Hello CORENTIN, you are 18 years old
Hello THOMAS, you are 29 years old
Hello JULIE, you are 22 years old
Hello JULIETTE, you are 21 years old

7.

In [151]:
list_of_arguments = ['Luc', 25]

In [152]:
hello4(*list_of_arguments)

Hello LUC, you are 25 years old

In [153]:
list_of_arguments = [25, 'Luc']

In [154]:
hello4(*list_of_arguments)

AttributeError: 'int' object has no attribute 'upper'

8.

In [157]:
dict_of_arguments = { 'name': 'Luc', 'age':25}

In [158]:
hello4(**dict_of_arguments)

Hello LUC, you are 25 years old

9.

In [159]:
for item in inputs.items():
    hello4(*item)

Hello LUC, you are 25 years old
Hello CORENTIN, you are 18 years old
Hello THOMAS, you are 29 years old
Hello JULIE, you are 22 years old
Hello JULIETTE, you are 21 years old

# A function with undefined number of arguments

1. et 2.

In [175]:
def multiply(*args, inverse=False):
    print( args )
    result = args[0]
    for arg in args[1:]:
        result *= arg
    if inverse:
        result = 1/result
    return result

In [176]:
multiply(1,2,3,4)

(1, 2, 3, 4)

24

In [177]:
multiply(5,2.5)

(5, 2.5)

12.5

In [178]:
multiply(4,2, inverse=True)

(4, 2)

0.125

In [179]:
multiply(4,3,True)

(4, 3, True)

12

In [182]:
multiply(4,3,inverse=True)

(4, 3)

0.08333333333333333

3.

In [194]:
def multiply(*args, **kwargs):
    print( args )
    print( kwargs )
    result = args[0]
    for arg in args[1:]:
        result *= arg
    
    if kwargs.get("inverse", False):
        result = 1/result
    if kwargs.get("negation", False):
        result = - result
    return result

In [195]:
multiply(1,2)

(1, 2)
{}

2

In [196]:
multiply(1,2,3)

(1, 2, 3)
{}

6

In [197]:
multiply(1,2,3, 
         bonjour="Yes",
         salut = [2,3,4],
         jadore = 25)

(1, 2, 3)
{'bonjour': 'Yes', 'salut': [2, 3, 4], 'jadore': 25}

6

# Fin.